<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Welcome, anubhav!</h1>
      <p>You are successfully logged in.</p>
      <br>
      <a href="/login">login</a>
      <a href="signup">register</a>
    </div>
  </div>
</body>
</html>