<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home-Page</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Home Page</h1>
      <!-- <p>You are successfully logged in.</p> -->
    </div>
    <br>
    <div class="card">
        <p>Go to dashboard</p>
        <a href="/main/dashboard">Dashboard</a>
    </div>
  </div>
</body>
</html>