<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <br>
    <form action="/user" method="POST">
        <input type="text" name="name" placeholder="Enter Username" required />
        <input type="text" name="email" placeholder="Enter E-mail">
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Sign-up</button>
      </form>
    
</body>
</html>